<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="io.ton.walletkit.demo.core.WalletKitDemoApp"
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="tiramisu"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WalletKitDemo"
        android:usesCleartextTraffic="true">
        <activity
            android:name="io.ton.walletkit.demo.presentation.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="io.ton.walletkit.demo.presentation.DAppBrowserActivity"
            android:exported="false"
            android:theme="@style/Theme.WalletKitDemo" />

        <!-- Eagerly install the GMS barcode-scanner module so the QR scanner in the
             dev Investigation screen is ready on first use. -->
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode_ui" />
    </application>
</manifest>
